* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-optical-sizing: auto;
    font-weight: $font-weight-bold;
    font-style: normal;
    padding-top: $header-height;
}