.container {
  @include flex-layout(flex-start, flex-start);
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 20px;
  gap: 30px;
}

header {
  background-color: $secondary-color;
  box-shadow: $shadow-light;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

nav {
  @include flex-layout;
  padding: 15px 32px;
  margin: 0 auto;
}