// цвета
$primary-color: #000000;
$secondary-color: #ffffff;
$accent-color: #5c0a0a;
$text-color: #333333;
$light-gray: #5f5f5f;
$border-color: #a7a7a7;

// шрифты
$font-family: "Unbounded", sans-serif;
$font-weight-bold: 900;
$font-weight-medium: 500;
$font-weight-light: 300;
$font-weight-normal: 400;

// зазмеры
$header-height: 110px;
$border-radius: 130px;
$container-max-width: 1200px;

// тени
$shadow-light: 0 2px 10px rgba(0, 0, 0, 0.1);
$shadow-medium: 0 4px 12px rgba(0, 0, 0, 0.08);
$shadow-heavy: 0 8px 20px rgba(0, 0, 0, 0.12);
$shadow-hover: 0 10px 30px rgba(0, 0, 0, 0.3);

$transition: all 0.3s ease;

// отступы
$spacing-xs: 8px;
$spacing-sm: 15px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-xl: 50px;
$spacing-xxl: 70px;